<app-navbar></app-navbar>

<div class="container-fluid px-md-7 px-3">
    <h3 class="pt-4 pb-3">Featured Works:</h3>
    <div class="row pb-sm-2 pb-1">
      <app-pg-one-one-skinny
        [imageOneUrl]="image1"
        [imageTwoUrl]="image2"
        [imageThreeUrl]="image3"
      ></app-pg-one-one-skinny>
    </div>
    <div class="row pb-sm-2 pb-1">
      <app-pg-one-one-two
        [imageOneUrl]="image7"
        [imageTwoUrl]="image8"
        [imageThreeUrl]="image9"
        [imageFourUrl]="image10"
      ></app-pg-one-one-two>
    </div>
    
    <div class="row pb-sm-2 pb-1">
      <app-pg-two-one-one
        [imageOneUrl]="image4"
        [imageTwoUrl]="image5"
        [imageThreeUrl]="image6"
        [imageFourUrl]="image24"
      ></app-pg-two-one-one>
    </div>
    <!-- <app-pg-one-one-skinny></app-pg-one-one-skinny> -->
    <!-- <app-pg-one-one-skinny></app-pg-one-one-skinny> -->
</div>
<!-- TODO MAKE COLS DIVISBLE INTO 5's -->
