<app-navbar></app-navbar>

<div class="container-fluid px-md-7 px-3">
    <h3 class="pt-4 pb-3">Featured Works:</h3>
    <div class="row pb-sm-2 pb-1">
      <app-pg-one-one-skinny
        [imageOneUrl]="image1"
        [imageTwoUrl]="image2"
        [imageThreeUrl]="image3"
      ></app-pg-one-one-skinny>
    </div>
    <div class="row pb-sm-2 pb-1">
      <app-pg-one-one-skinny
        [imageOneUrl]="image4"
        [imageTwoUrl]="image5"
        [imageThreeUrl]="image6"
      ></app-pg-one-one-skinny>
    </div>
    <div class="row pb-sm-2 pb-1">
      <app-pg-one-one-two
        [imageOneUrl]="image7"
        [imageTwoUrl]="image8"
        [imageThreeUrl]="image9"
        [imageFourUrl]="image10"
      ></app-pg-one-one-two>
    </div>
    <div class="row pb-sm-2 pb-1">
      <app-pg-one-skinny-one
        [imageOneUrl]="image11"
        [imageTwoUrl]="image12"
        [imageThreeUrl]="image13"
      ></app-pg-one-skinny-one>
    </div>
    <div class="row pb-sm-2 pb-1">
      <app-pg-skinny-one-one
        [imageOneUrl]="image14"
        [imageTwoUrl]="image15"
        [imageThreeUrl]="image16"
      ></app-pg-skinny-one-one>
    </div>
    <div class="row pb-sm-2 pb-1">
      <app-pg-one-two-one
        [imageOneUrl]="image17"
        [imageTwoUrl]="image18"
        [imageThreeUrl]="image19"
        [imageFourUrl]="image20"
      ></app-pg-one-two-one>
    </div>
    <div class="row pb-sm-2 pb-1">
      <app-pg-two-one-one
        [imageOneUrl]="image21"
        [imageTwoUrl]="image22"
        [imageThreeUrl]="image23"
        [imageFourUrl]="image24"
      ></app-pg-two-one-one>
    </div>
    <!-- <app-pg-one-one-skinny></app-pg-one-one-skinny> -->
    <!-- <app-pg-one-one-skinny></app-pg-one-one-skinny> -->
</div>
<!-- TODO MAKE COLS DIVISBLE INTO 5's -->
