<div class="container-fluid px-0">
  <div class="row row-eq-height gx-sm-2 gx-1">
    <div class="col-4">
      <img src="{{ imageOneUrl }}" class="w-100 h-100 obj-fit-cover" />
    </div>
    <div class="col-4">
      <img src="{{ imageTwoUrl }}" class="w-100 h-100 obj-fit-cover" />
    </div>
    <div class="col-2">
      <div class="container h-100 px-0">
        <div class="row h-50 pb-1 pb-sm-2">
          <img src="{{ imageThreeUrl }}" class="w-100 h-100 obj-fit-cover" />
        </div>
        <div class="row h-50">
          <img src="{{ imageFourUrl }}" class="w-100 h-100 obj-fit-cover" />
        </div>
      </div>
    </div>
  </div>
</div>
