/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/functions";
// color override MUST BE BEFORE scss/variables
$primary: #f3efe9;

// grid columns set to 10 total not 12
$grid-columns: 10;
$grid-gutter-width: 0.5rem;

@import "bootstrap/scss/variables";

// spacing extension to bootstrap map
$spacing-extension: (
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
);
$spacers: map-merge($spacing-extension, $spacers);
@import "bootstrap/scss/maps";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "width":
      map-merge(
        map-get($utilities, "width"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "width"), "values"),
              (
                20: 20%,
                40: 40%,
              )
            ),
        )
      ),
  )
);
// $font-size-base: 1.125rem;
$font-size-base: 1.125rem;
$body-bg: $primary;
$font-family-base: "Montserrat", sans-serif;

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@100;300;400;500&display=swap");

$heading-font-family: "Montserrat", sans-serif;
$nav-font-family: "Montserrat", sans-serif;
$brand-font-family: "Libre Baskerville, serif";
$body-font-family: "Montserrat", sans-serif;
$base-font-weight: 400;
$heading-font-weight: 500;
$nav-font-weight: 100;

$link-secondary: black;

nav {
  a {
    font-family: $nav-font-family;
    font-weight: $nav-font-weight;
  }
}


html {
  background-color: $primary;
}

.obj-fit-cover {
  object-fit: cover;
}

.brand-text {
  font-size: 32px;
  font-family: $brand-font-family;
  font-weight: $base-font-weight;
}

.nav-link-text {
  font-size: 18px;
  font-weight: $base-font-weight;
}

.slick-disabled {
  display: none;
}